.button {
    background-color: var(--altC1);
    color: var(--c1);
    border-radius: 10px;
    border: 0px;
    padding: 2px 8px 2px 8px;
    transition: box-shadow 200ms;
  }
  
  .button:hover {
    background-color:hsl(196, 67%, 42%);
    box-shadow: 2px 2px var(--c2);
  }