.thermography-content-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 100px);
    gap: 10px;
    font-size: 1.5rem;
}

.thermography-content-container .how-work {
    grid-area: 1 / 1 / 7 / 5;
}

.thermography-content-container .what-like {
    grid-area: 7 / 1 / 12 / 6;
    margin-top: 30px;
}

.thermography-content-container .unlike-other {
    grid-area: 5 / 8 / 11 / 11;
}

.thermography-content-container .chronic-illness {
    grid-area: 1 / 8 / 5 / 11;
}

.thermography-content-container .quote {
    grid-area: 7 / 6 / 11 / 11;
    margin-top: 30px;
}

.thermography-content-container #body-diagram {
    grid-area: 1 / 5 / 7 / 8;
    width: 100%;
    height: 100%;
}